{% extends 'layout.html' %}

{% block body %}
    <div class='jumbotron text-center'>
        <h1>Welcome To Flask App!</h1>
        <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nibh ante, dictum ac finibus eu, consectetur vel ex. Donec congue vitae ligula sed semper. Sed condimentum, leo vitae fringilla hendrerit, sem lacus consequat nisl, ac porta eros mi vitae magna. Proin at ante ante. Vivamus nec ante eget nisl elementum lacinia.</p>
    </div>
{% endblock %}